.container-benefits{
    background-color: #e0e0e0;
    padding: 15px 15px 0px 15px;
    width: auto;
    display:inline-block
}

.iconrowContent {
    margin-bottom: 15px;
}

.iconBenefit {
    padding-right: 0px;
}
