{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block page_product_detail_content %}
    {{ parent() }}

    {% set iconID = context.salesChannel.customFields.custom_benefits_icon %}
    {% set mediaCollection = searchMedia([iconID], context.context) %}
    {% set iconMedia = mediaCollection.get(iconID) %}
       
    <div class="container-benefits">
        <div class="row">
            <div class="col-auto">
                <div class="row iconrowContent">
                    <div class="col-auto iconBenefit">
                        <img src="{{ (iconMedia.url) }}">        
                    </div>               
                    <div class="col-auto">
                        {{ context.salesChannel.customFields.custom_benefits_benefit1 |trans |raw}} 
                    </div>
                </div>     
            </div>    

            <div class="col-auto">
                <div class="row iconrowContent">
                    <div class="col-auto iconBenefit">
                        <img src="{{ (iconMedia.url) }}">        
                    </div>               
                    <div class="col-auto">
                        {{ context.salesChannel.customFields.custom_benefits_benefit2 |trans |raw}} 
                    </div>
                </div>     
            </div>    

            <div class="col-auto">
                <div class="row iconrowContent">
                    <div class="col-auto iconBenefit">
                        <img src="{{ (iconMedia.url) }}">        
                    </div>               
                    <div class="col-auto">
                        {{ context.salesChannel.customFields.custom_benefits_benefit3 |trans |raw}} 
                    </div>
                </div>     
            </div>


        </div>    
    </div>
{% endblock %}

